body {

    margin: 0;
    padding: 0;
}

nav {
    height: 100px;
    border-top: solid;
    border-color: gold;

}

.nav-wrapper {
    background-color:rgb(56, 16, 16);   
}

.brand-logo center {
    text-align: center;
    position: absolute;

}


section {
    height: 300px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(rgba(1, 1, 2, 0.8), rgba(170, 149, 149, 0.8)), url("../Images/beers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}


.text {    
    color:white;
    font-weight: bolder;
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
    font-family:'Glory', sans-serif;
    
}

  

  article {
      height: 75px;
      width: 100%;
      margin-left: 10px;
  }

  .desc p {
      font-size: 20px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      
  }

  main {
      margin-left: 10px;
      margin-bottom: 15px;
  }

  .card-header {
      color:rgb(56, 16, 16);
  }

  .btn {
      background-color: rgb(56, 16, 16);
  }

  .page-footer {
      background-color:rgb(56, 16, 16) ;
      border-top: solid;
      border-color: gold;

  }

  /*display: flex;
  min-height: 100vh;
  flex-direction: column;*/



  /*flex: 1 0 auto;*/

